<div class="container">
    Jakub Mráček
  <br/> Aleš Zabranský
  <br/> Radek Danč
  <br/> Jiří Špác
  <br/> Matěj Nosál
  <br/> Zdeněk Softič
  <br/> Vitek Jezek
  <br/> Jakub Holzer
  <br/> Aleš Baran
  <br/> Martin Drábek
  <br/> Vojtěch Janoušek
  <br/> Tomáš Metelka
  <br/> Martin Brýla
  <br/> Martin Baletka
  
  <!-- comment > jak to bude vypadat?  ...kopie dle expertního boardu</!-->
  <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="/img/board/bezouska.jpg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Jiří Špác 
                        </h2>
                        <p>
                            Hlavní programátor a bojovník za lidská práva ;-) link na sociální sítě? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget enim mattis, venenatis ante non, euismod sem. Donec eget tempor leo. Pellentesque ante libero, vehicula vel bibendum ut, interdum vel lacus. Donec sagittis euismod placerat. Vivamus lacinia auctor enim, in fermentum leo eleifend vel. Vivamus euismod iaculis enim, in varius libero fermentum vitae. Vestibulum dapibus ipsum sit amet sollicitudin porta. Vestibulum luctus nisl sit amet ante ullamcorper, varius convallis libero condimentum.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="/img/board/bouchal.jpeg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Jakub Mráček (vizionář)
                        </h2>
                        <p>
                            Včelař a učitel.... přišel s nápadem

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
  
  
  
  
</div>
