<div class="modal-body">
    <i class="fa fa-exclamation-triangle fa-5"></i>
    <p>{{ msg }}</p>
    <p>Pokud potíže přetrvají, neváhejte se obrátit na náš <a href="https://twitter.com/zakonomat">twitter</a> nebo <a href="https://www.facebook.com/zakonomat">facebook</a> pro podporu.</p> <!-- výhledově by bylo dobré přidat i email (třeba zákonomat@gmail./email.cz... otázka, kdo by si to vzal na starost ... pokud oslovíme i starší generaci, která s FB nemusí mít zkušenosti> MartinB</!--> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="action()">{{ btnTitle }}</button>
</div>
